*{
    margin:0px;
    padding:0px;
}
body,html{
    width:100%;
    height:100%;
}



.navbar{
       display: flex;
       justify-content:space-between;
       align-items: center;
       /* border: 2px solid red; */
       background: linear-gradient(to right, #050326, #5210cd);
       padding: 10px;

       }

.image2 img{ width:200px;
      }

.image2 img:hover{transform:scale(1.3);
                  z-index: 2;
                  transition:3s; }
div.inner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 50px;
    padding: 20px;

    width:600px;
    background: linear-gradient(to right, #050326, #5210cd);
    }

.inner a{
    display: flex;
    display: inline-block;
    justify-content:space-between;

    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    color:white;
    }

.inner a:hover{transform:scale(1.3);
               z-index: 2;
               background: linear-gradient(to right, #050326, #5210cd);
               border: 2px solid white;
               transition:3s;}

.icon i{display: flex;
        display: inline-block;
        justify-content: center;
        font-size: 30px;
        color:white;
        align-items: center;}

.icon i:hover{transform:scale(1.3);
               z-index: 2;}

#checkbtn{
    float:right;
    margin-right: 30px;   
    font-size: 50px;
    margin-top: 25px;
    padding-left:30px;
    color:white;
    display: none;
}

#check{
    display:none;
}
#check:checked ~ ul{
left:0px;
}
@media(max-width:640px){

    #checkbtn{
    display:block;
    }

    nav ul{
        width:100%; 
        height:100vh;
        background-image: url("./Infotrixs images/naruto_food.gif");
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top:100px;
        left:-100%;transition: .5s;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin-top: -10px;
    }

    #input{display: none;}
    #search{display: none;}
}  






/* body{      background-color:  #050326;

     } */

div.body{width:100%;
         height: 2313px;
         background-image: url("../Infotrixs images/66.jpg");
         }



 
div.Maindiv{width:100%;
            height: 400px;
            position: absolute;
            left: 50%;
            top:46.5%;
            margin-top: 0px;
            transform: translate(-50%,-50%);
            background-image: url("../Infotrixs images/1.jpg");
            background-size: 100% 100%;
            /* border: 15px solid orange; */
            box-shadow: 1px 2px 10px white;
            animation: slider 10s infinite linear    ;
           }


@keyframes slider {
    0%{background-image: url("../Infotrixs images/1.jpg");
        background-size: 100% 100%;}
    35%{background-image: url("../Infotrixs images/2.jpg");
        background-size: 100% 100%;}
    75%{background-image: url("../Infotrixs images/3.jpg");
        background-size: 100% 100%;}
    
}


#chef10{margin-left: 450px;
    margin-top: 400px;
    width:220px;
    height:130px;}

#chef10:hover{ transform: scale(1.3);
               z-index: 2;
               transition: 5s;}


h1#heading{width:200px;
     height:30px;
     border:2px solid yellow;;
     border-radius: 50px;
     margin-left: 630px;
     margin-top: -105px;
     padding: 20px;
     font-size: 30px;
     text-align: center;
     background: linear-gradient(to right, #050326, #5210cd);
     color: white;
     }

h1#heading:hover{ transform: scale(1.3);
                  z-index: 2;
                  transition: 5s;}

#chef9{margin-left: 890px;
   margin-top: -100px;
   width:100px;
   height:120px;
   }

#chef9:hover{ transform: scale(1.3);
            z-index: 2;
            transition: 5s;}


form#bg1{background-image: url("../Infotrixs images/14.jpg");
      width:100%;
      height:400px;
      box-shadow: 1px 2px 10px white;
      background-attachment: fixed;}

 h1#WL{text-align: center;
              font-size: 45px;
              height: 50px;
              padding: 8px;
              border-radius: 50px;
              width: 600px;
              margin-left: 440px;
              color: black;
              background-color: white;
              opacity: 0.7;
              text-align: center;
              }

h1#WL:hover{ transform: scale(1.3);
            z-index: 2;
            transition: 5s;}

p#SR{margin-left: 50px;
     font-size: 35px;
     margin-top: 50px;
     color: white;
     border-right: 2px solid yellow;
     border-top: 2px solid yellow;
     border-bottom: 2px solid yellow;
     background: linear-gradient(to right, #050326, #5210cd);
     border-radius: 20px;
     text-align: center;
     padding: 10px;
     width: 250px;
    } 
    
p#SR:hover{ transform: scale(1.3);
            z-index: 2;
            transition: 5s;
            }

     
hr#hrline{width:92%;
          border:1px solid white;
          margin-left: 50px;
          margin-top: 20px;
       }

hr#hrline:hover{ transform: scale(1.3);
                 z-index: 2;
                 transition: 5s;}


/* div.rectangle1{width:96%;
               height: 470px;
               margin-top: -445px;
               background-color: rgb(247, 217, 217);
               border: 5px solid white;
               border-radius: 20px;
    
               } */

/* form#form2{width:100%;
           height: 300px;
           background-color: black;
           margin-top: 130px;} */
 
/* rec1*/
form.rec1{width: 250px;
    height: 320px;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 35px;
    background: linear-gradient(to right, #050326, #5210cd);
    box-shadow: 1px 2px 10px white;


   }
   
img#img6{width:260px;
    height: 320px;
    margin-top: 50px; 
    border-radius: 20px; 
    margin-left:18px;
    margin-top: 20px;
    /* border: 2px solid red; */
    border-bottom: 3px solid orange;
    border-right: 3px solid orange;
    border-top: 3px solid white;
    border-left:3px solid white;
    box-shadow: 1px 2px 10px white;

    


    background-image: url("../Infotrixs images/salad1.jpg");
    background-size: 100% 100%;    
    animation: imageone 9s infinite reverse    ;
}


@keyframes imageone {
0%{background-image: url("../Infotrixs images/salad1.jpg");
background-size: 100% 100%;
}

35%{background-image: url("../Infotrixs images/salad2.jpg");
background-size: 100% 100%;}

75%{background-image: url("../Infotrixs images/salad3.webp");
       background-size: 100% 100%;}


}

/* rec2*/
form.rec2{width: 250px;
    height: 320px;
    margin-left: 390px;
    margin-top: -325px;
    border: 2px solid white;
    box-shadow: 1px 2px 10px white;
    background: linear-gradient(to right, #050326, #5210cd);
    border-radius: 20px;


    }

img#img7{width:260px;
    height: 320px;
    margin-left: 18px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 20px;
    border-bottom: 3px solid orange;
    border-right: 3px solid orange;
    border-top: 3px solid white;
    border-left:3px solid white;
    box-shadow: 1px 2px 10px white;



    background-image: url("../Infotrixs images/Grilling1.jpg");
    background-size: 100% 100%;    
    animation: imagetwo 9s infinite reverse    ;
}


@keyframes imagetwo {
0%{background-image: url("../Infotrixs images/Grilling1.jpg");
background-size: 100% 100%;
}

35%{background-image: url("../Infotrixs images/grilling4.jpg");
background-size: 100% 100%;}

75%{background-image: url("../Infotrixs images/Grilling3.jpg");
       background-size: 100% 100%;}


}

/* rec3*/
form.rec3{width: 250px;
    height: 320px;
    margin-top: -325px;
    margin-left: 740px;
    border: 2px solid white;
    box-shadow: 1px 2px 10px white;
    background: linear-gradient(to right, #050326, #5210cd);
    border-radius: 20px;


   }

img#img8{width:260px;
    height: 320px;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 20px;
    border-bottom: 3px solid orange;
    border-right: 3px solid orange;
    border-top: 3px solid white;
    border-left:3px solid white;
    box-shadow: 1px 2px 10px white;


   
    background-image: url("../Infotrixs images/Mediterranean1.jpg");
    background-size: 100% 100%;    
    animation: imagethree 9s infinite linear; 
   }


@keyframes imagethree {
0%{background-image: url("../Infotrixs images/Mediterranean1.jpg");
background-size: 100% 100%;
}

35%{background-image: url("../Infotrixs images/Mediterranean2.jpg");
background-size: 100% 100%;}

75%{background-image: url("../Infotrixs images/Mediterranean3.jpg");
       background-size: 100% 100%;}


}
/* rec4*/
form.rec4{width: 250px;
    height: 320px;
    margin-top: -325px;
    margin-left: 1090px;
    border: 2px solid white;
    box-shadow: 1px 2px 10px white;
    background: linear-gradient(to right, #050326, #5210cd);
    border-radius: 20px;



   }

img#img9{width:260px;
    height: 320px;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 20px;
    border-bottom: 3px solid orange;
    border-right: 3px solid orange;
    border-top: 3px solid white;
    border-left:3px solid white;
    box-shadow: 1px 2px 10px white;


    
    background-image: url("../Infotrixs images/Recipes1.jpg");
    background-size: 100% 100%;    
    animation: imagefour 9s infinite linear;}

@keyframes imagefour {
0%{background-image: url("../Infotrixs images/Recipes1.jpg");
background-size: 100% 100%;
}

35%{background-image: url("../Infotrixs images/Recipes2.webp");
background-size: 100% 100%;}

75%{background-image: url("../Infotrixs images/Recipes3.jpg");
       background-size: 100% 100%;}


}


img#img6 #img7 #img8 #img9:hover{ transform: scale(1.3);
                                  z-index: 2;
                                  transition: 5s;}

p#foodname{font-size: 23px;
      width: 150px;
      text-align: center;
      border-radius: 20px;
      padding: 2px;
      margin-top: 10px;
      margin-left: 60px;
      color: white;
      border-right: 2px solid white;
     border-top: 2px solid white;
     border-bottom: 2px solid white;
      background: linear-gradient(to right, #050326, #5210cd);
   }
p#foodname:hover{ transform: scale(1.3);
                  z-index: 2;
                  transition: 5s;}


hr#hrline2{width:92%;
     border:1px solid white;
     margin-left: 50px;
     margin-top: 120px;
  }


form#bg{background-image: url("../Infotrixs images/12.jpg");
      width:100%;
      height:350px;
      margin-top: 20px;
      border: 1px solid white;
      box-shadow: 10px 5px 30px orange;
      background-attachment: fixed;}

h1#thought3{text-align: center;
            background-color: orange;
            width: 300px;
            border-radius: 20px;
            margin-left: 80;
            margin-top: 100px;
            color: black;   
            opacity: 0.5;
            box-shadow: 1px 2px 10px white;
            padding: 10px;
            font-size: 40px;}

h1#thought3:hover{ transform: scale(1.3);
                   z-index: 2;
                   transition: 5s;}

div.rectangle{width:100%;
              height: 350px;
              border: 2px solid green;
           /* background-color: rgb(11, 26, 88); */
              margin-top: 0px;
        }
h1#cg{width:200px;
      color: white;
      margin-top: 20px;
      margin-left: 20px;
      text-align: center;
      border: 2px solid black;
      border-radius: 20px;
      padding: 5px;
      background: linear-gradient(to right, #050326, #5210cd);
      font-size: 30px;
     }

h1#cg:hover{ transform: scale(1.3);
             z-index: 2;


             
             transition: 5s;}
        @keyframes slide {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
        }            
        
        .logos{
               height:137px;
               margin-top: 25px;
               overflow:hidden;
               padding: 60px;
               background: orange;
               white-space: nowrap;
               }
        
        .logos:hover .logos-slide{
            animation-play-state: paused;
        }       
        .logos-slide{ display:inline-block;
                      animation: 5s slide infinite linear;
                    }  
                    
        .logos-slide img{height: 180px;
                         width: 200px;
                         padding: 5px;
                         margin-top: -30px;
                         border-radius: 100%;
                         /* padding: 20; */
                         border: 2px solid white;
                        }  
       





div.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #050326, #5210cd);
}
div.footer .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

div.First {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

div.First img {
  display: flex;
  justify-content: space-between;
  border-radius: 100%;
  border: 5px solid orange;
  align-items: center;
  height: 100px;
}
div.Second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.Second p {
  display: flex;
  align-items: center;
  color: white;
}

div.Second img {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Third {
  display: flex;
  width: 130px;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  color: white;
  padding: 10px;
  font-size: 15px;
}
.anchor a {
  display: flex;
  text-decoration: none;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
}

div.fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* border: 2px solid red; */
}

div.fourth i a{padding: 5px;
             font-size: 10px;
             color: white;
             text-decoration: none;}

div.fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* border: 2px solid red; */
}
div.fourth h1{color:white;
              }

div.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  height: 80px;
  color: white;
  border-radius: 20px;
  width:300px;
  height: 150px;
  font-size: 15px;
}
div.box p{ 
  font-size: 15px;

}

div.Six {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.Six img {
  display: flex;
  height: 100px;
  border-radius: 100%;
  border: 5px solid orange;
  width: 100px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
